.table__my tr {
    border: none;
}

.table__my tr th {
    background: #f3f2f2;
}

.table__my tr:nth-child(2n+1) td {
    background: #f7f7f7;
}

.table__my-wrap .card-content {
    padding: 0 !important;
    margin-right: -1px;
    margin-top: 30px;
}

.table__my-wrap tr td:first-child, .table__my-wrap tr th:first-child {
    text-align: left;
    padding-left: 24px;
}

.table__my-wrap tr td, .table__my-wrap tr th {
    text-align: center;
}

.table__my-title {
    font-size: 18px;
    font-weight: 600;
}

.table__my-subtitle {
    font-size: 16px;
    color: #999;
}

td.selected {
    background: #e1f0ff  !important;
}

.warn {
    background: #ffe1eb !important;
    /*border-top: 3px solid #ff363b;*/
    padding: 5px 15px;
    font-weight: 700;
    color: #ff363b !important;
    position: relative;
}

.info {
    /*border-bottom: 3px solid #28af3c;*/
    /*padding: 5px 15px;*/
    font-weight: 700;
    position: relative;
}

.info:after {
    content: '';
    border-bottom: 3px solid #28af3c;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -10px;
}

.warn:after {
    content: '';
    border-bottom: 3px solid #ff363b;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.value {
    margin-bottom: 3px;
}

.recommend-value {

}

.table__bottom {
    background: #e8e8e8;
    display: flex;
    justify-content: space-between;
    padding: 10px 24px;
    align-items: center;
}

.table__bottom-right {
    display: flex;
    font-weight: 600;
    font-size: 16px;
}

.table__bottom-left {
    display: flex;
    font-weight: 600;
    font-size: 16px;
}

.table__bottom-left span:first-child, .table__bottom-right span:first-child {
    margin-right: 30px;
}

.item__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item__wrap.selection {
    justify-content: space-around;
}

.item__title {
    font-size: 16px;
    font-weight: 600;
}

.item__label {
    font-size: 16px;
    color: #888;
}

.item__selection input {
    margin: 0 !important;
    height: 30px !important;
    width: 90px !important;
}

.item__selection .input-field.col {
    padding: 0 !important;
}

@media only screen and (max-width: 993px) {
    .table__my-wrap {
        display: none;
    }
}